.navbar{
    display: flex;
    align-items: center;
}

.logo1{
    margin-left: 57px;
}

.a1{
    margin-left: 47px;
}

.a2{
    margin-left: 47px;
}

.a3{
    margin-left: 47px;
}

.a4{
    margin-left: 47px;
}

.a5{
    margin-left: 47px;
}

.a6{
    margin-left: 47px;
}

a.a1:link{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a1:visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a1:hover{
    text-shadow: 2px 2px 2px gray;
}

a.a2:link{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a2:visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a2:hover{
    text-shadow: 2px 2px 2px gray;
}

a.a3:link{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a3:visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a3:hover{
    text-shadow: 2px 2px 2px gray;
}

a.a4:link{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a4:visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a4:hover{
    text-shadow: 2px 2px 2px gray;
}

a.a5:link{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a5:visited{
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

a.a5:hover{
    text-shadow: 2px 2px 2px gray;
}

a.a6:link{
    background-color: whitesmoke;
    text-decoration: none;
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

a.a6:visited{
    background-color: whitesmoke;
    text-decoration: none;
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 7px;
}

a.a6:hover{
    background-color: rgb(118, 180, 145);
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 7px;
    letter-spacing: 0.1rem;
}

.r2c1{
    margin-left: 57px;
    font-size: 65px;
}

.text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    animation-name: example;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
}

@keyframes example {
    from{
        color: seagreen;
    }
    to{
        color: whitesmoke;
    }
}

.text2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    animation-name: example;
    animation-duration: 3.4s;
    animation-timing-function: linear;
    animation-delay: 1.4s;
}

@keyframes example {
    from{
        color: seagreen;
    }
    to{
        color: whitesmoke;
    }
}

.text3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    animation-name: example;
    animation-duration: 3.8s;
    animation-timing-function: linear;
    animation-delay: 1.8s;
}

@keyframes example {
    from{
        color: seagreen;
    }
    to{
        color: whitesmoke;
    }
}

a.a7:link{
    background-color: whitesmoke;
    text-decoration: none;
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

a.a7:visited{
    background-color: whitesmoke;
    text-decoration: none;
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

a.a7:hover{
    background-color: rgb(118, 180, 145);
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 0.1rem;
    border-radius: 7px;
}

#slider{
    overflow: hidden;
    margin-left: 60px;
    margin-right: 500px;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 1px whitesmoke;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0%;
    }

    0%{
        left: 0%;
    }

    20%{
        left: -100%;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -200%;
    }

    50%{
        left: -200%;
    }

    70%{
        left: -300%;
    }

    75%{
        left: -300%;
    }

    95%{
        left: -400%;
    }

    100%{
        left: -400%;
    }
}

.para2{
    display: flex;
    align-items: center;
}

.header1{
    background-color: seagreen;
    padding-left: 67px;
    padding-right: 57px;
    padding-top: 43px;
    padding-bottom: 103px;
}

.header2{
    padding-top: 73px;
    padding-left: 193px;
    padding-right: 193px;
    padding-bottom: 33px;
    background-color: white;
}

.box1{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box1:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box2{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box2:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box3{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
}

.box3:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.r1{
    display: flex;
    align-items: center;
}

.box4{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box4:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box5{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box5:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box6{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
}

.box6:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.r2{
    display: flex;
    align-items: center;
}

.box7{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box7:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box8{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box8:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box9{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
}

.box9:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.r3{
    display: flex;
    align-items: center;
}

.box10{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box10:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box11{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
    margin-right: 3px;
}

.box11:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.box12{
    padding: 11px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px gray;
}

.box12:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

.r4{
    display: flex;
    align-items: center;
}

.r5{
    display: flex;
    align-items: center;
    margin-top: 98px;
}

.p1{
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: example1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1.2s;
}

@keyframes example1 {
    from{
        color: black;
    }

    to{
        color: seagreen;
    }
}

.p2{
    font-size: larger;
    color: gray;
    font-weight: bold;
}

.r5c2{
    margin-left: 15px;
    margin-top: 75px;
}

.r5c2:hover{
    box-shadow: 12px 12px 12px 12px gray;
}

a.a8:link{
    background-color: seagreen;
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}

a.a8:visited{
    background-color: seagreen;
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    border-radius: 7px;
}

a.a8:hover{
    background-color: black;
    text-decoration: none;
    color: seagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 0.1rem;
    border-radius: 7px;
}

.r6{
    display: flex;
    align-items: center;
    margin-top: 135px;
    justify-content: center;
}

.p3{
    color: seagreen;
    font-family: cursive;
    font-size: 39px;
    text-shadow: 1px 1px gray;
}

.r7{
    display: flex;
    justify-content: center;
}

.i1{
    
    transition: width 1s, height 1s;
}

.i1:hover{
    width: 30px;
    height: 30px;
}

.i2{
    
    transition: width 1s, height 1s;
}

.i2:hover{
    width: 30px;
    height: 30px;
}

.i3{
    
    transition: width 1s, height 1s;
}

.i3:hover{
   
    height: 30px;
}

.i4{
   
    transition: width 1s, height 1s;
}

.i4:hover{
    width: 30px;
    height: 31px;
}

.tr1{
    transition: width 2s, height 2s;
}

.tr1:hover{
    width: 360px;
    height: 280px;
}

.tr2{
    transition: width 2s, height 2s;
}

.tr2:hover{
    width: 360px;
    height: 280px;
}

.tr3{
    transition: width 2s, height 2s;
}

.tr3:hover{
    width: 360px;
    height: 280px;
}

.tr4{
    transition: width 2s, height 2s;
}

.tr4:hover{
    width: 360px;
    height: 280px;
}

.tr5{
    transition: width 2s, height 2s;
}

.tr5:hover{
    width: 360px;
    height: 280px;
}

.tr6{
    transition: width 2s, height 2s;
}

.tr6:hover{
    width: 360px;
    height: 280px;
}

.tr7{
    transition: width 2s, height 2s;
}

.tr7:hover{
    width: 360px;
    height: 280px;
}

.tr8{
    transition: width 2s, height 2s;
}

.tr8:hover{
    width: 360px;
    height: 280px;
}

.tr9{
    transition: width 2s, height 2s;
}

.tr9:hover{
    width: 360px;
    height: 280px;
}

.tr10{
    transition: width 2s, height 2s;
}

.tr10:hover{
    width: 360px;
    height: 280px;
}

.tr11{
    transition: width 2s, height 2s;
}

.tr11:hover{
    width: 360px;
    height: 280px;
}

.tr12{
    transition: width 2s, height 2s;
}

.tr12:hover{
    width: 360px;
    height: 280px;
}

.last{
    text-align: center;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: slategray;
}